views/index.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="")
        meta(name="keywords", content="")

        link(rel="shortcut icon", href="../public/images/favicon-32x32.png", type="image/x-icon")
        link(rel="stylesheet", href="../public/stylesheets/style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Oxanium&display=swap")

        script(type="text/javascript", src="https://code.jquery.com/jquery-3.4.1.slim.min.js")

        title Pong Game
    body
    
        .grid 
            .header
                h1 PONG GAME

            audio(src="../public/sounds/hit1.mp3" type="audio/mpeg")#soundHitP1
            audio(src="../public/sounds/hit2.mp3" type="audio/mpeg")#soundHitP2
            audio(src="../public/sounds/loose.mp3" type="audio/mpeg")#soundLoose
            audio(src="../public/sounds/background.mp3" type="audio/mpeg")#soundBackground
            .board#board
            
                .bar.player-one-bar#player-one-bar
                .bar.player-two-bar#player-two-bar
                .ball#ball

            .box.boxButtons
                h3 Buttons:
                button(type="reset").restart-btn Restart

            .box.boxInfos
                h3 Controls:
                ul
                    li
                        p Player One (bottom) controls
                        ul
                            li Right: right arrow
                            li Left: left arrow
                    li
                        p Player Two (top) controls
                        ul
                            li Right: S
                            li  Left: A
            
            .box.boxScore
                h3 Score:

            .ticker-wrap
                    .ticker
                        .ticker__item Pong browser game/
                        .ticker__item V1.0.1 Work in progress/
                        .ticker__item To do list: Express server in devlopement/ Migration to ES7/ variables names according to naming conventions/
                
        script(src="../controller/main.js")

views/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="shortcut icon" href="../public/images/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxanium&amp;display=swap">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <title>Pong Game</title>
  </head>
  <body>
    <div class="grid"> 
      <div class="header">
        <h1>PONG GAME</h1>
      </div>
      <audio src="../public/sounds/hit1.mp3" type="audio/mpeg" id="soundHitP1"></audio>
      <audio src="../public/sounds/hit2.mp3" type="audio/mpeg" id="soundHitP2"></audio>
      <audio src="../public/sounds/loose.mp3" type="audio/mpeg" id="soundLoose"></audio>
      <audio src="../public/sounds/background.mp3" type="audio/mpeg" id="soundBackground"></audio>
      <div class="board" id="board">
        <div class="bar player-one-bar" id="player-one-bar"></div>
        <div class="bar player-two-bar" id="player-two-bar"></div>
        <div class="ball" id="ball"></div>
      </div>
      <div class="box boxButtons">
        <h3>Buttons:</h3>
        <button class="restart-btn" type="reset">Restart</button>
      </div>
      <div class="box boxInfos">
        <h3>Controls:</h3>
        <ul>
          <li>
            <p>Player One (bottom) controls</p>
            <ul>
              <li>Right: right arrow</li>
              <li>Left: left arrow</li>
            </ul>
          </li>
          <li>
            <p>Player Two (top) controls</p>
            <ul>
              <li>Right: S</li>
              <li> Left: A</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="box boxScore">
        <h3>Score:</h3>
      </div>
      <div class="ticker-wrap">
        <div class="ticker">
          <div class="ticker__item">Pong browser game/</div>
          <div class="ticker__item">V1.0.1 Work in progress/</div>
          <div class="ticker__item">To do list: Express server in devlopement/ Migration to ES7/ variables names according to naming conventions/</div>
        </div>
      </div>
    </div>
    <script src="../controller/main.js"></script>
  </body>
</html>
